.container {
  // overflow: hidden;
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
  .content_margin_left {
    margin-left: 1vw;
    position: relative;
    .section {
      height: 54vw;
      .video {
        position: absolute;
        top: 0;
        right: -20px;
        .video-player {
          width: 65vw !important;
          height: calc(65vw / 1500 * 1080) !important;
        }
      }
      .video-cover {
        position: absolute;
        top: 0;
        right: -20px;
        img {
          width: 67vw;
        }
      }
      .dcty-info {
        position: absolute;
        top: 21vw;
        left: 0 !important;
        .title {
          h2 {
            font-size: 48px;
            line-height: 53px;
            color: #111c63;
            font-weight: bold;
          }
        }
        .line{
          margin-top: 30px;
          background-color: #2320D4;
          width: 70px;
          height: 8px;
          border-radius: 10px;
        }
        .price{
          margin-top: 18px;
          font-size: 18px;
          line-height: 24px;
          color: #4a4a4a;
        }
        .dcty_info-btn{
          .booking{
            .booking_btn{
              padding: 0px 15px;
              background-color: #1DCBB6 !important;
              border: 1px solid #1DCBB6 !important;
              border-radius: 100px !important;
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
