.HomeBanner{
    background-image: url("https://vcdn-kinhdoanh.vnecdn.net/2021/03/23/D430-44-243-1200-5298-1616495875.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 1080px;
}