.HomeHeader{
    padding: 10px 0;
    box-shadow: 0 1px 5px -1px #ccc;
    .container{
        width: 1200px;
        margin: 0 auto;
        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .col-12{
                position: relative;
                align-items: center;
                justify-content: space-between;
                display: flex;
                .logo{
                    display: flex;
                    align-items: center;
                    a{
                        display: block;
                        margin-left: 10px;
                        img{
                           width: 200px;
                        }
                    }
                    p{
                        display: block;
                        color: #f39c12;
                        font-weight: bold;
                    }
                }
                .header_content{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                        padding: 0 10px;
                        a{
                            font-weight: bold;
                            font-size: 16px;
                            color: #333;
                            span{
                                display: block;
                                font-size: 13px;
                                font-weight: lighter;
                            }
                        }

                    }
                }
            }
            .col-3{
                text-align: right;
                .icon_support{
                    .booking_btn{
                        padding: 0px 15px;
                        background-color: #4EA685 !important;
                        border: 1px solid #4EA685 !important;
                        border-radius: 100px !important;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                span{
                    line-height: 30px;
                }
                .support{
                    color: #969495;
                }
            }
        }
    }
}